
 <marquee behavior="scroll" direction="left" scrollamount="4">
        <img src="../assets/images/s1.jpg" width="300" height="150" alt="Natural" /> &nbsp;
        <img src="../assets/images/s2.jpg" width="300" height="80" alt="Natural" />&nbsp;
        <img src="../assets/images/s3.jpg" width="300" height="80" alt="Natural" />&nbsp;
        <img src="../assets/images/s4.jpg" width="300" height="80" alt="Natural" />&nbsp;
        <img src="../assets/images/s5.jpg" width="300" height="80" alt="Natural" />&nbsp;
        <img src="../assets/images/s6.jpg" width="300" height="80" alt="Natural" />&nbsp;
        <img src="../assets/images/s7.jpg" width="300" height="80" alt="Natural" />&nbsp;
      </marquee>  

      <h2 align="center"><i>
  <p>If you are not willing to learn, no one can help you.</p>
<br>
If you are determined to learn, no one can stop you.</i>
</h2> 
      