

 <h1>
  <p  align='center' style="color:red;" > 
         <b> SignUp and Explore</b>  
        </p></h1>

        <h2 align="center"><i>
                        <p>If you are not willing to learn, no one can help you.</p>
                      <br>
                      If you are determined to learn, no one can stop you.</i>
                      </h2> 
<p style align="center">

        <button class="GFG" style="color: aliceblue" > 
<a routerLink='usersignin'>User</a>&nbsp;</button>&nbsp;&nbsp;&nbsp;&nbsp;
<!-- <br> -->
<button class="GFG"> 
<a routerLink='mentorsignup'>Mentor</a>
</button>
</p>

 
<router-outlet></router-outlet>