<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<style>
body {
  font-family: "Lato", sans-serif;
}
.table 
{
width: 70%;
max-width: 100%;
margin-left: 160px;
margin-bottom: 20px;
}

.sidenav {
  height: 80%;
  width: 162px;
  position: fixed;
  z-index: 1;
  top: 52px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  padding-top: 16px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 15px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1f1;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>
<body>

<div class="sidenav">
       
    <!-- <a (click)="AllTraining()"><i class="fa fa-fw fa-graduation-cap" style="padding-top: 15px;" aria-hidden="true"></i> All Training</a> -->
  <a (click)="CurrentTraining()"><i class="fa fa-fw fa-graduation-cap" style="padding-top: 15px;" aria-hidden="true"></i> Current Training</a>
  <a (click)="CompletedTraining()"><i class="fa fa-fw fa-envelope" style="padding-top: 15px;"></i> Completed Training</a>
  <!-- <a (click)="Payment()"> <i class="fa fa-credit-card" style="padding-top: 15px;" aria-hidden="true"></i>  Payment</a> -->
  
  
</div>


<div class="container" *ngIf="check()==1">
        <p style="font-size: large;color: #000000;">Current Trainings</p>          
       <table class="table table-hover" style="background: white;">
         <thead style="background: #818181;">
           <tr>
             <th>TrainingId</th>
             <th>Training Name</th>
             <th>Mentor Name</th>
             <th>Status</th>
             <th>Start Date</th>
             <th>End Date</th>
             <th>Duration</th>
           </tr>
         </thead>
         
               <tbody *ngFor="let item of list">
                       <tr>
                           <td>{{item.training_ID}}</td>
                           <td>{{item.training_Name}}</td>
                           <td>{{item.mentor_Name}}</td>
                           <td>{{item.training_status}}</td>
                           <td>{{item.training_StartDate}}</td>
                           <td>{{item.training_EndDate}}</td>
                           <td>{{item.training_duration}}</td>
                           <!-- <td><button (click)="DeleteUser(item.userId)"><a><i class="fa fa-trash" aria-hidden="true"> Delete</i></a></button></td> -->
                       </tr>
                   </tbody>
          
       </table>
     </div>
  
    <div class="container" *ngIf="check()==2">
     <p style="font-size: large;color: #000000;">Completed Training</p>          
    <table class="table table-hover" style="background: white;">
      <thead style="background: #818181;">
        <tr>
          <th>TrainingId</th>
          <th>Training Name</th>
          <th>Mentor Name</th>
          <th>Status</th>
          <th>Start Date</th>
          <th>End Date</th>
          <th>Duration</th>
        </tr>
      </thead>
      
            <tbody *ngFor="let item of list">
                    <tr>
                        <td>{{item.training_ID}}</td>
                        <td>{{item.training_Name}}</td>
                        <td>{{item.mentor_Name}}</td>
                        <td>{{item.training_status}}</td>
                        <td>{{item.training_StartDate}}</td>
                        <td>{{item.training_EndDate}}</td>
                        <td>{{item.training_duration}}</td>
                        <!-- <td><button (click)="DeleteUser(item.userId)"><a><i class="fa fa-trash" aria-hidden="true"> Delete</i></a></button></td> -->
                    </tr>
                </tbody>
       
    </table>
  </div>

  <div class="container" *ngIf="check()==3">
        <p style="font-size: large;color: #000000;">Training Details</p>          
       <table class="table table-hover" style="background: white;">
         <thead style="background: #818181;">
           <tr>
             <th>TrainingId</th>
             <th>Training Name</th>
             <th>Mentor Name</th>
             <th>Status</th>
             <th>Start Date</th>
             <th>End Date</th>
             <th>Duration</th>
           </tr>
         </thead>
         
               <tbody *ngFor="let item of list">
                       <tr>
                           <td>{{item.training_ID}}</td>
                           <td>{{item.training_Name}}</td>
                           <td>{{item.mentor_Name}}</td>
                           <td>{{item.training_status}}</td>
                           <td>{{item.training_StartDate}}</td>
                           <td>{{item.training_EndDate}}</td>
                           <td>{{item.training_duration}}</td>
                           <!-- <td><button (click)="DeleteUser(item.userId)"><a><i class="fa fa-trash" aria-hidden="true"> Delete</i></a></button></td> -->
                       </tr>
                   </tbody>
          
       </table>
     </div>
   
</body>
</html> 
