
  <div class="container">
        <table class="table table-bordered">
            
            <tr>
                <td>User Id</td>
                <td><input type="text" name="user_Name" id="" [(ngModel)]="id"></td>
            </tr>
            <tr>
                <td>User Password</td>
                <td><input type="email" name="user_Email" id="" [(ngModel)]="password" ></td>
            </tr>
            
            
            <tr>
                <td>
                    <button (click)="Login()">Login</button>
                    
                </td>     
            </tr>

           <tr>
                <td>
                    
                    
                </td>     
            </tr>
            <tr>
                <td>
                    Don’t have an account?
                    
                </td>     
            </tr>

            <tr>
                <td>
                    
                    
                </td>     
            </tr>

            <tr>
                <td>
                    <a routerLink="../signup"> Sign up now </a>
                </td>     
            </tr>
        </table>